/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* utilities */

.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}


/* container */

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1170px;
    max-width: 100%;
    padding: 20px;
}

.wrapper h1 {
    margin-bottom: 10px;
}


/* dati-input */

.dati-input .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.dati-input .row:first-child {
    border: 1px solid #ccc;
    min-height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

.col {
    margin: 0 10px;
}

/* row  input style */

.row label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.row select,
.row input {
    display: inline-block;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

/* button */
.btn {
    background: #a6160a;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin: 10px;
}

/* ticket styles */
#biglietto {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 20px solid #a6160a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}


/* animation ticket */

.ticket-in {
    animation: ticket-in linear .5s;
}

@keyframes ticket-in {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }

  .ticket-out {
    animation: ticket-out linear .5s;
}

@keyframes ticket-out {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      
    }
  
    to {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
  }
  


/* qrcode */

.qrcode {
    flex-basis: 30%;
    text-align: center;
}

.qrcode img {
    display: block;
    max-width: 100%;
    
}

/* content */

.content {
    padding: 20px 0;
}

.content > h4 {
    margin-top: 10px;
    color: #515151;
}


/* contenuti */

.contenuti h3 {
    font-size: 16px;
}

.offerta table {
    display: flex;
    padding: 20px;
}



.offerta table thead tr,
.offerta table tbody tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offerta table thead tr {
    margin-right: 10px;

}

.offerta table tbody tr {
    margin-left: 10px;

}

.contenuti {
    display: flex;
}

/* nome */

.nome {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.nome h4 {
    color:#515151;
}

.nome h5 {
    font-size: 16px;
}

.nome h5 span {
    color: #515151;
}

/* offerta */

.offerta table thead {
    position: relative;

}

.offerta table thead tr::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    right: 0;
    transform: translateX(100%);
    background: #a6160a;
}

.offerta table tbody tr td span {
    color: #515151; 
}



/* responsive  < 576px*/

@media all and (max-width: 576px) {

    .container {
        height: 100%;
    }
    .dati-input .row {
        display: block;
    }

    .row label {
        margin-bottom: 10px;
    }

    .row select, 
    .row input {
        width: 100%;
    }

    .row .col {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .dati-input .row:last-child {
        display: flex;
    }

    .contenuti {
        flex-direction: column;
    }

    .content {
        padding: 0 40px;
    }

    .offerta table {
        padding: 0;
    }
        
    /* ticket */
    #biglietto {
        flex-direction: column;
    }
}

@media all and (min-width: 577px) and (max-width: 768px) {
    .row label {
        margin-bottom: 10px;
    }

    .dati-input {
        display: flex;
    }
   
    .dati-input .row:last-child {
        flex-direction: column;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px){
    .row label {
        margin-bottom: 10px;
    }
}
