/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* utilities */

.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}


/* container */

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1170px;
    max-width: 100%;
    padding: 20px;
}

.wrapper h1 {
    margin-bottom: 10px;
}


/* dati-input */

.dati-input .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dati-input .row:first-child {
    border: 1px solid #ccc;
    min-height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

.col {
    margin: 0 10px;
}

/* row  input style */

.row label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.row select,
.row input {
    display: inline-block;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

/* button */
.btn {
    background: #a6160a;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
}

/* ticket styles */
#biglietto {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    border-bottom: 20px solid #a6160a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

/* qrcode */

.qrcode {
    flex-basis: 30%;
    text-align: center;
}

.qrcode img {
    display: block;
    max-width: 100%;
    
}

/* content */

.content {
    padding: 20px 0;
}

.content > h3 {
    margin: 10px 0;
}


/* responsive  < 576px*/

@media all and (max-width: 576px) {
    .dati-input .row {
        display: block;
    }

    .row label {
        margin-bottom: 10px;
    }

    .row .col {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .dati-input .row:last-child {
        display: flex;
    }
}

@media all and (min-width: 577px) and (max-width: 1200px) {
    .row label {
        margin-bottom: 10px;
    }

    .dati-input {
        display: flex;
    }
   
    .dati-input .row button:first-child {
        margin-bottom: 10px;
    }

    .dati-input .row:last-child {
        flex-direction: column;
    }
}

